#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.calculator-grid {
  border-radius: 15px;
  width: 450px;
  height: 690px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  
}
.output{
  width: 90%;
  height: 15%;
  grid-column: 1 / -1;
  background-color: rgba(15, 34, 9, 0.75);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;

}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: white;
  font-size: 2rem;
}
.button-container{
  display: grid;
  gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(5, 6rem);
  
}

.button-container > button{
  background-color: rgba(39, 7, 7, 0.301);
  padding: 0;
  font-size: 2rem;
  text-align: center;
}

.button-container > button:hover{
  border-color: #646cff;
}
.button-container > button:active {  
  outline: 4px auto -webkit-focus-ring-color;
}

.span-two{
  grid-column: span 2;
}

